 /* Global Styles*/
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 @font-face {
     font-family: "Ruhl";
     src: url(/fonts/FrankRuhlLibre-Regular.ttf);
 }
 
 @font-face {
     font-family: "Ruhl Medium";
     src: url(/fonts/FrankRuhlLibre-Medium.ttf);
 }
 
 @font-face {
     font-family: "Vibes";
     src: url(/fonts/GreatVibes-Regular.ttf );
 }
 
 @font-face {
     font-family: "Courgette";
     src: url(/fonts/Courgette-Regular.ttf);
 }
 
 html {
     font-size: 62.5%;
     --header1: calc(2rem + 1vw);
     --header2: calc(5rem + 1vw);
     --header3: calc(3rem + 1vw);
     --header4: calc(2.4rem + 1vw);
     --text: calc(.5rem + 1vw);
     --big: calc(2rem + 1vw);
     --specail-color: #44213e;
     --background-color: #414141;
     --gray_text: #383434;
 }
 
 p {
     color: white;
     font-family: "Courgette", sans-serif;
 }
 
 h1 {
     font-size: var(--header1);
     color: white;
 }
 
 li,
 button,
 p,
 input,
 label {
     font-size: var(--text);
 }
 
 h2 {
     font-size: var(--header2);
     font-family: "courgette", sans-serif;
 }
 
 h3 {
     font-size: var(--header3);
 }
 
 h4,
 h5 {
     font-size: var(--text);
     color: white;
 }
 
 ul {
     list-style: none;
 }
 
 a {
     text-decoration: none;
     color: white;
 }
 
 .flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 body {
     font-family: "Ruhl", sans-serif;
 }
 
 h1 {
     font-family: "Vibes", sans-serif;
 }
 /*Nav Setion*/
 
 .main-head {
     background-color: transparent;
     ;
 }
 
 nav {
     min-height: 10vh;
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: center;
     padding: 3rem;
     flex-wrap: wrap;
 }
 
 .logo-dunamis {
     display: flex;
     height: 10vh;
     flex: 2 1 40rem
 }
 
 .nav-links {
     display: flex;
     justify-content: space-around;
     flex: 1 1 40rem;
 }
 /*BODY*/
 
 body {
     background-image: url(/Images/Pictures/pexels-nathan-cowley-1300510.jpg);
     background-repeat: no-repeat;
     height: 100vh;
     background-size: cover;
 }
 
 #contact {
     min-height: 75vh;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }
 
 .form-wrapper {
     background: rgba(22, 90, 114, 0.5);
     width: 30px;
     height: fit-content;
     color: white;
     border-radius: 20px;
     flex-wrap: wrap;
 }
 
 .form-head {
     text-align: center;
 }
 
 .name-form,
 .email-form,
 .message-form {
     padding: 2rem;
     text-align: right;
 }
 
 #message {
     vertical-align: top;
     line-height: 1.5;
     flex-wrap: wrap;
 }
 
 .form-wrapper label {
     padding: 1rem;
 }
 
 .form-wrapper {
     width: fit-content;
 }
 
 .form-wrapper button {
     width: 100%;
     padding: 2rem;
     margin-top: 2rem;
     border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px;
 }
 
 .form-wrapper input {
     padding: 2rem;
     width: 300px;
 }
 
 textarea {
     width: 300px;
     height: 100px;
 }
 
 button {
     background-color: rgba(22, 90, 114, 0.5);
     color: white;
 }
 /*Footer*/
 
 footer {
     background-color: transparent;
 }
 
 h1 {
     color: white;
     display: flex;
 }
 
 .footer-wrapper {
     display: flex;
     padding: 2rem;
     width: 90%;
     margin: auto;
     align-items: center;
     min-height: 10vh;
     flex-wrap: wrap;
 }
 
 footer ul {
     display: flex;
     list-style: none;
     flex: 1 1 40rem;
     justify-content: flex-end;
     align-items: center;
     border-image-width: 0px;
 }
 
 footer h5 {
     display: flex;
     list-style: none;
     flex: 1 1 40rem;
 }
 
 .footer-wrapper img {
     height: 3vh;
     padding-left: 2rem;
 }
 /* MEDIA QUERY*/
 
 @media screen and (max-width: 1660px) {
     nav {
         text-align: center;
         justify-content: space-around;
         padding: 1rem;
     }
     .main-head img {
         align-self: center;
         max-height: 250px;
     }
     nav li {
         display: inline-block;
         padding: 1rem 0;
     }
     .logo-dunamis img {
         scale: 50%;
     }
     .form-wrapper {
         width: fit-content;
     }
     footer ul {
         justify-content: center;
     }
     footer h5 {
         justify-content: center;
         align-items: center;
         padding: 1rem;
     }
 }
 
 @media screen and (max-width: 1180px) {
     html {
         font-size: 100%;
     }
     .main-head li {
         font-size: 1.5rem;
     }
     foooter h5 {
         padding-bottom: 3rem;
     }
     .form-wrapper {
         width: fit-content;
     }
     .name-form,
     .email-form,
     .message-form {
         padding: 1rem;
     }
     #contact {
         min-height: fit-content;
     }
     .form-head h2 {
         font-size: 2rem;
     }
 }